.hide {
	display: none !important;
}

.todo-item {
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.todo-info {
	display: flex;
	gap: 1rem;
	font-size: 1.2rem;
	align-items: center;
	color: var(--font-color1);
}

.todo-info__checkbox {
	width: 1.2rem;
	height: 1.2rem;
}

.todo-edit {
	display: flex;
	align-items: center;
	border: 1px solid var(--main-border-color);
	height: 3rem;
	width: 28rem;
	justify-content: space-between;
	padding: .5rem;
	border-radius: .5rem;
}

.todo-edit__input {
	display: block;
	height: 100%;
	width: 20rem;
	border: none;
	outline: none;
	font-size: 1.2rem;
}

.todo-buttons,
.todo-edit-buttons {
	display: flex;
	gap: .3rem;
}
